---
import MainLayout from '../../layouts/MainLayout.astro';
import PostCard from "../../components/PostCard.astro";
import { formatBlogPosts } from "../../utils";

const allPosts = await Astro.glob("./*.md");
const formattedPosts = formatBlogPosts(allPosts, {
  sortByDate: true
});
---

<MainLayout title="My Blog">
  <section class="container" aria-label="New Blog Posts">
    <h1 class="h1">New Blog Posts</h1>
    <div class="post-container">
      {
        formattedPosts.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h2"
          />
        ))
      }
    </div>
  </section>
</MainLayout>